body {
	background-color: #556;
	overflow: hidden;
	padding: 0;
}
@media screen, handleheld {
	
}
#container {
	width: 500px;
	height: 500px;
	position: relative;
	top: 50px;
	margin: 0 auto;
}
#start-button {
	width: 200%;
	position: absolute;
	top: -50px;
	left: -50%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 50px;
	font-family: 'Indie Flower', cursive;
}
#button-board, #display-board {
	position: absolute;
	display: flex;
	flex-direction: column;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}
#button-board div, #display-board div {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}
#button-board p, #display-board p {
	display: flex;
	flex-grow: 1;
	margin: 5px;
	border: 3px solid black;
	border-radius: 20px;
}
#button-board p:hover {
	border: 3px solid white;
	cursor: pointer;
}
#button-board p:active {
	background-color: white;
}